.content {
    white-space: pre-wrap; /* thêm thuộc tính này để giải quyết khoảng trắng */
  }
  
  /* thiết lập kiểu chữ cho nội dung của div */
  .content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    font-weight: bold;
  }
  
  .content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  .content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  .content h3 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  .content h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .content h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .content h6 {
    font-size: 1rem;
    line-height: 1.125rem;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  .content p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .content blockquote {
    border-left: 4px solid #ccc;
    color: #666;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
  }
  
  .content ul,
  .content ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 2em;
  }
  .content ul {
      list-style-type: disc;
    }
    
  .content ol {
      list-style-type: decimal;
    }
  
  .content li {
    margin-bottom: 8px;
  }
  
  .content a {
    color: #0645AD;
    text-decoration: underline;
  }
  /* CSS cho các lựa chọn font và kích thước */
  .ql-font-serif {
    font-family: serif;
  }
  .ql-font-sans-serif {
    font-family: sans-serif;
  }
  .ql-size-small {
    font-size: 0.75em;
  }
  .ql-size-large {
    font-size: 1.55em;
  }
  .ql-size-huge {
    font-size: 2em;
  }
  
  /* CSS cho các phần tử in đậm, in nghiêng, gạch chân, gạch đầu dòng */
  .ql-bold {
    font-weight: bold;
  }
  .ql-italic {
    font-style: italic;
  }
  .ql-underline {
    text-decoration: underline;
  }
  .ql-strike {
    text-decoration: line-through;
  }
  .ql-blockquote {
    margin-left: 1em;
    border-left: 3px solid #ccc;
    padding-left: 0.5em;
  }
  
  .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  