.login {
    background-image: url("../Assets//BackgroundLogin/5d62b49ac544b_thumb900.webp");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-chill{
    opacity: 0.7;
    border-radius: 15px;
}